extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen de nosotros" , class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Donec at purus tortor. Morbi venenatis risus nec ante auctor, id porta dui sollicitudin. Nulla facilisi. Aenean commodo condimentum dolor, eget posuere felis varius id. Sed ultricies justo sed elit dapibus fringilla. Praesent placerat gravida porttitor. Maecenas pharetra varius tellus ut efficitur.

                p ultricies mi sit amet aliquam hendrerit. Proin at magna luctus tortor tristique accumsan vitae a lorem. Proin id tellus mattis turpis interdum bibendum. Aliquam malesuada turpis vel augue tristique varius. Etiam risus nulla, porta ut aliquet vitae, tincidunt ut erat.uis tincidunt ex. Sed ultricies in sem sit amet cursus. Fusce turpis arcu, mattis sit amet nibh in, tincidunt ultricies risus.

                p et aliquet nibh. Curabitur vitae elementum ex, non egestas dolor. Mauris a mi vel nunc ornare consectetur ut id nulla. Sed et porta ante. Fusce fermentum arcu fringilla condimentum iaculis. Praesent maximus non sem id consectetur. Sed ullamcorper lacus ac 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono segurodad" , class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p et aliquet nibh. Curabitur vitae elementum ex, non egestas dolor. Mauris a mi vel nunc ornare consectetur ut id nulla. Sed et porta ante. Fusce fermentum arcu fringilla condimentum iaculis. Praesent maximus non sem id consectetur. Sed ullamcorper lacus ac 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" , class="img-fluid mb-4")
                    h2.mb-4 Mejores destionos 
                    p et aliquet nibh. Curabitur vitae elementum ex, non egestas dolor. Mauris a mi vel nunc ornare consectetur ut id nulla. Sed et porta ante. Fusce fermentum arcu fringilla condimentum iaculis. Praesent maximus non sem id consectetur. Sed ullamcorper lacus ac

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" , class="img-fluid mb-4")
                    h2.mb-4 Grandes precios 
                    p et aliquet nibh. Curabitur vitae elementum ex, non egestas dolor. Mauris a mi vel nunc ornare consectetur ut id nulla. Sed et porta ante. Fusce fermentum arcu fringilla condimentum iaculis. Praesent maximus non sem id consectetur. Sed ullamcorper lacus ac 